<head>
  <title>signup | Ruby on Rails Tutorial Myrails App</title>
</head>
<body>
<div class="col-md-6">
<h1>Sign up</h1>
<%= form_for(@user,class:"form-group") do |f| %>
  <%= render 'shared/error_messages'%>
  <%= f.label :"Name  *"%>
  <%=f.text_field :name,class:"form-control"%>

  <%=f.label :"email  *"%>
  <%=f.text_field :email,class:"form-control"%>

  <%=f.label :"password  *"%>
  <%=f.password_field :password,class:"form-control"%>

  <%=f.label :"password confirmation  *"%>
  <%=f.password_field :password_confirmation,class:"form-control"%>

  <%=f.submit "Submit",class:"btn btn-primary"%>
<%end%>
</div>

</body>
