
<div>
<div class="profile col-sm-2">
  <%= image_tag @user.gravatar_url%>
</div>
<h4 class=col-sm-4>
  <%=@user.name.capitalize%><br>
  <%=@user.email%>
</h4>
</div>
<section class="stats">
  <%= render 'shared/stats' %>
</section>

<div class="col-md-8">
   <%= render 'follow_form' if logged_in? %>
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>
