<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class=col-md-4>
        <%= image_tag @user.gravatar_url%>
      </div>
      <div class=col-md-8>
        <h3><%= @user.name.capitalize%></h3>
      </div>
      <span><%= link_to "view my profile", @user ,class:"btn btn-default"%></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8 user_link_color">
    <h3><%= @title %></h3>
    <% if @users.any? %>
    <% @users.each do |user| %>
    <div class="col-md-2">
      <%= image_tag user.gravatar_url%>
    </div>
    <div class="col-sm-10">
      <%=link_to user.name.capitalize,user%><br>
      <%=user.email%>
    </div>
    <br><br><br><br><br>
    <% end %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
